.navBar{
  width: auto;
  background-color: #6a5e86;
}

.cityName {
  font-size: 28px;
}


.NavBarTitleText  {
  font-size: 20px;
  padding-top: 5%;
  margin-left: 15%;
}

.NavBarCityInfo{
  margin-left: 200%;
  color: white;
  font-size: 20px;
}

.day{
  padding: 15px;
  color: whitesmoke;
  font-family: 'Recursive', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.temp{
  padding: 15px;
  color: rgb(241, 36, 36);
  font-family: 'Recursive', sans-serif;
  font-size: 18px;
}

/* 992px ++ */
@media only screen and (min-width: 992px) {
  .navBar{
    background-color: orange
  }
}

/* 600-992px */
@media only screen and (min-width: 600px) {
  .navBar{
    background-color: blue
  }
}

/* smallest screen size */
@media only screen and (max-width: 600px) {

  .firstNavBarContainer {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .poweredCats{
    font-size: 10px;
  }

  .firstNavBarRow{
    padding-left: 20%;
    padding-bottom: 50%;
    padding-top: 10%;
  }

  .secondNavBarContainer{
    background-color: #4B455C;
    display: flex;
  }

  .secondNavBarContent{
    color:white;
  }




}


